
<div class="navbar navbar-custom navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("The Jammer", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
    </div>
</div>

@model TheJammer.Models.User

<h2>Profile</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)

        </dd>

        <br />

        <dt>
            <label for="LastName">Last Name</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <br />
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>

<h3>Leave us a comment!</h3>
@using (Html.BeginForm("Create", "Comments", FormMethod.Post, new { @class = "form-group", role = "form" }))
{
    @Html.AntiForgeryToken()
    <textarea class="form-control" style="min-width: 100%" rows="5" id="Description" name="Description"></textarea>
    <br />
    <div class="col-lg-10 text-center">
        <input type="submit" value="Send" style="min-width: 30%" class="btn btn-primary btn-lg" />
    </div>

}
